{% spaceless %}

{# {% if page.settings.pagenav and page.siblings_count > 0 and page.slug is not empty and page.children_count == 0 %} #}
{% if page.settings.pagenav and page.siblings_count > 0 and page.slug is not empty
 and (page.plugins.pagenav.hide_has_children is empty or page.children_count == 0)
 and (page.plugins.pagenav.hide_root is empty or page.permalink|split('/')|length > 2) %}

{# get parent folder and append / unless == / #}
{% set href_base = rootpath_page|dirname %}
{% if href_base|last != '/' %}{% set href_base = href_base ~ '/' %}{% endif %}

{# start article nav element #}
<div class=article-nav>

	{% if not page.next_sibling[0] is empty %}
		{% set next = getSibling(page.next_sibling[0]) %}
		<a href='{{ href_base ~ next ~ '/' }}' class='next'><span>{{ next|title }}</span></a>
	{% endif %}

	{% if not page.previous_sibling[0] is empty %}
		{% set previous = getSibling(page.previous_sibling[0]) %}
		<a href='{{ href_base ~ previous ~ '/' }}' class='previous'><span>{{ previous|title }}</span></a>
	{% endif %}

</div>
{% endif %}

{% endspaceless %}